NEXT_PUBLIC_INFURA_KEY=
NEXT_PUBLIC_CHAIN_ID=
NEXT_PUBLIC_ALCHEMY_API_KEY=
NEXT_PUBLIC_ALCHEMY_API_ETH_PROVIDER_URL=
NEXT_PUBLIC_FIREBASE_apiKey=
NEXT_PUBLIC_FIREBASE_authDomain=
NEXT_PUBLIC_FIREBASE_projectId=
NEXT_PUBLIC_FIREBASE_storageBucket=
NEXT_PUBLIC_FIREBASE_messagingSenderId=
NEXT_PUBLIC_FIREBASE_appId=
NEXT_PUBLIC_FIREBASE_measurementId=
NEXT_PUBLIC_GETSTREAM_APP_ID=
NEXT_PUBLIC_GETSTREAM_API_KEY=
NEXT_PUBLIC_GETSTREAM_API_SECRECT_KEY=
NEXT_PUBLIC_GETSTREAM_OWNER_ID=